@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%!important;
    }
}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 100%!important;
    }
}

@media (min-width: 576px){
    .container, .container-sm {
        max-width: 100%!important;
    }
}
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

    :root {
        --clr-light: #f3f1ef;
        --clr-dark: rgb(26, 26, 26);

        --clr-light2: #fff;
        --clr-dark2: rgb(51,51,51);

        --clr-darkshadow: rgba(200,200,200,.8);

        --foreground: var(--clr-dark);
        --background: var(--clr-light);
        --background2: var(--clr-light2);
        --background3: var(--clr-lightdark2);

        --box-shadow: var(--clr-darkshadow);

                /* LIGHT IMAGE*/

        --ff-imgdark: url(images/noise.png);
        --ff-logo: url(images/lightlogo.png);
    }

    .darkmode {
        --clr-light: #f3f1ef;
        --clr-dark: rgb(26, 26, 26);

        --clr-light2: #fff;
        --clr-dark2: rgb(51, 51, 51);

        --clr-darkshadow: rgba(0,0,0,.8);

        --foreground: var(--clr-light);
        --background: var(--clr-dark);
        --background2: var(--clr-light2);
        --background3: var(--clr-lightdark2);

        --box-shadow: var(--clr-darkshadow);
                /* DARK IMAGE */

        --ff-imgdark: url(images/darkmodenoise.png);
        --ff-logo: url(images/darklogo.png);
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
        font-family: 'Montserrat', sans-serif;
        line-height: 1.6;
        cursor: url("mouse.svg"),auto;
    }

    ::-webkit-input-placeholder {
        color: #FFF;
    }

    body::-webkit-scrollbar {
        width: 0px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--background);
        border-radius: 1px;
    }


    header #container {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        background-color: transparent;
        margin: auto;
        position: fixed;
        z-index: 9999999;
        background-color: transparent;
        padding: 0;
        background-color: red;
    }

    header nav ul {
        display: flex;
        height: 100%;
        margin: auto;
    }

    header a {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: var(--foreground)!important;
        font-size: 12px !important;
        transition: all 250ms linear 0s;
        letter-spacing: 1px;
        position: relative;
        text-transform: uppercase;
        padding: 10px 10px;
        border-radius: 0 !important;
        transition: .5s!important;
        outline-color: none;
    
    }

    header a:hover {
        text-decoration: none;
        transition: .5s!important;
        border-bottom: 1px solid tomato;
    }

    #container {
        width: 100%;
        height: 100vh;
    }

    #logo {
        width: 100%;
        height: 30vh;
        position: relative;
        top: 10vh;
    }

    #center-logo {
        width: 100%;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #center-logo-img {
        width: 130px!important;
        height: 50%!important;
        position: relative;
        top: 0;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-section {
        width: 80%;
        display: flex;
        justify-content: center;
        background-color: red;
    }

    .dark-mode-toggle {
        width: 40px;
        height: 50%;
        position: absolute;
        z-index: 100;
        top: 25%;
        right: 5%;
        color: var(--foreground);
        border: none;
        background: transparent;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .dark-mode-toggle svg {
        width: 100%!important;
    }

    .nav-item {
        list-style: none;
        margin: 1px solid black;
    }

    .nav-link::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #f3f1ef;
        position: absolute;
        left: 0;
        bottom: -3px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s ease;
    }



    .scrolling-active {
        background-color: var(--background) !important;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        transition: 0.5s;
    }

    .scrolling-active .nav {
        height: 6.6rem;
    }

    .scrolling-active .nav a {
        color: #313131;
    }



    .a {
        width: 100%;
        height: 70vh;
        background-color: blue;
    }



    /* =========== INICIO BANNER FOOTER ========== */

    #footer-banner {
        width: 100%;
        height: 100vh;
        position: relative;
        bottom: 40vh;
        background-color: green;
    }

    #footer-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* =========== FINAL BANNER FOOTER ========== */
    /* =========== INICIO DO FOOTER ===========*/
    footer {
        width: 100%;
        height: 90vh;
        background-color: var(--background);
        position: relative;
    }

    #form-cont {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form-cont-center {
        width: 30%;
        height: 100%;
    }

    #form-title {
        width: 100%;
        height: 100px;
    }

    #form-title-redimension {
        position: relative;
        width: 100%;
        height: 50%;
        top: 25%;
    }

    #form-cont-center p {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 700;
    }

    #redimension-nome, #redimension-email {
        width: 100%;
        height: 100px;
    }

    #redimension-nome input, #redimension-email input {
        background-color: transparent;
        border-radius: 0;
        border: 1px solid tomato;

    }

    #redimension-nome label, #redimension-email label {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 13px;
    }

    #redimension-nome input::placeholder, #redimension-email input::placeholder {
        color: var(--foreground);
        opacity: 1; /* Firefox */
    }

    #redimension-button {
        display: flex;
        align-items: center;
    }
    
    .btn-info {
        background-color: tomato!important;
        border-radius: 0!important;
        width: 50%;
        height: 50px;
        border-color: var(--background)!important;
        color: var(--background)!important;
        font-weight: 500!important;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px!important;
    }

    #information-newsletter {
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #information-newslatter-paragraph {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 13px;
        letter-spacing: 1px;
        color: var(--foreground);
    }

    #newsletter-input::placeholder {
        color: var(--foreground);
        opacity: 1;
        /* Firefox */
    }

    #newsletter-button {
        width: 120px;
        height: 45px;
        border: none;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        top: -1px;
        background-color:tomato;
        color: var(--background);
        letter-spacing: 1px;
        border: 1px solid tomato;
    }

    #rodapeopcoes {
        width: 100%;
        height: 50vh;
        display: flex;
    }

    #opcoesrodape {
        width: 33.3%;
        height: 100%;
    }

    #redimension-opcoesrodape {
        width: 100%;
        height: 50%;
        position: relative;
        top: 35%;
        display: flex;
    }

    #opcoesrodape h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        color: var(--foreground);
    }

    #opcoesrodape ul {
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    #opcoesrodape li {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        list-style-type: none;
        margin-top: 10px;
    }

    #opcoesrodape a {
        color: var(--foreground);
        text-decoration: none;
        font-size: 13px;

    }

    #contato-desenvolvimento {
        width: 100%;
        height: 15vh;
        display: flex;
    }

    #contato-footer {
        width: 40%;
        height: 50%;
        display: flex;
        position: relative;
        top: 80%;
        left: 5%;
    }

    #desenvolvedor-footer {
        width: 50%;
        height: 50%;
        display: flex;
        position: relative;
        top: 80%;
    }

    #desenvolvedor-footer {
        justify-content: flex-end;
    }

    #desenvolvedor-footer-p {
        text-transform: uppercase;
        text-align: right;
        font-size: 13px;
    }

    .connect-us-footer {
        width: 45%;
        height: 100%;
        text-align: right;
    }

    .connect-us-footer p {
        font-size: 13px;
    }

    .redimension-span-contato-footer {
        width: 15%;
        height: 100%;
    }

    .span-contato-footer {
        width: 80%;
        height: 1px;
        background-color: var(--foreground);
        position: relative;
        top: 20%;
        left: 10%;
    }


    .social-medias {
        width: 30%;
        height: 100%;
        display: flex;
    }

    .social-medias a {
        margin-left: 20px;
        font-size: 15px;
        font-weight: 400;
        color: var(--foreground);
    }

    table {
        width: 95%!important;
        height: auto;
        position: relative;
        left: 2.5%;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 13px;
    }

    /* ========= CONEXÃO SERVIDOR ========= */

    .conectado-servidor {
        width: 30%;
        height: 50px;
        position: absolute;
        left: 2.5%;
        display: flex;
        align-items: center;
    }

    .conectado-texto {
        width: 60%;
        height: 70%;
        position: relative;
        top: 15%;
        display: flex;
        align-items: center;
    }
    
    .conectado-servidor p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: var(--foreground)!important;
    }

    .text-danger {
        list-style-type: none;
        font-weight: 600;
    }

    .conectado-servidor-green {
        width: 15px;
        height: 15px;
        background-color: rgb(28, 179, 28);
        border-radius: 100%;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: abertoAnim .5s infinite alternate;
        pointer-events: none;
    }
    
    .conectado-servidor-red {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 100%;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: abertoAnim .5s infinite alternate;
        pointer-events: none;
    }

    @keyframes abertoAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

#table-cont {
    position: relative;
    top: 160px;
    background-color: var(--background);
}

.table-cont td, .table-cont tr {
    color: var(--foreground)!important;
}

.table>:not(caption)>*>* {
    color: var(--foreground)!important;
}

#users-body {
   background-color: var(--background);
}

#send-body {
    background-color: var(--background);
 }
.form-cont {
    width: 100%;
    height: auto;
    position: relative;
    top: 160px;

}

.redimension-form-cont {
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
}

.content-email-send {
    width: 100%;
    height: 100px;
}

.redimension-form-cont p {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: var(--foreground)!important;
}

.redimension-form-cont label {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: var(--foreground)!important;
}

.form-control {
    border-radius: 0!important;
    border: 1px solid tomato!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px!important;
    background-color: var(--background)!important;
    color: var(--foreground)!important;
}

.btn-block {
    width: 50%;
    position: relative;
    left: 25%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px!important;
}
